
@{
    ViewData["Title"] = "Addition";
}

<h1>App</h1>
First number:<br>
<input type="number" name="firstnumber" id="first">
<br>
  Second number:<br>
<input type="number" name="secondnumber" id="second"> <br><br>

Result: <span id="result"> </span>
<br><br>
<button onclick="calculate()">Submit</button>
